.box {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
  }
  
  h2 {
    text-align: center;
    margin: 10px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
  }
  
  th {
    font-weight: bold;
  }
  