.one{
    font-size: 18;
    color: red;
}
.two{
    font-size: 18;
    font-weight: bold;
    
}
#zero{
    background-color: salmon;
}
h2{
    font-style: italic;
}
#five{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: pink;
    font-weight: lighter;
}
#Nam1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 13pt;
color: black;
}
#Nam2 {
    font-family: tahoma;
    font-size: 13pt;
    color: black;
}
#Nam3{
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.four{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: pink;
}